/* *{
  font-size: 18px;
  font-weight:500;
} */
.app{
  background: url('../img/bg.jpg') no-repeat;
  background-size: cover;
  justify-content: center;
  vertical-align: middle;
  width: 100%;
  height: 100vh;
}
.container{
  width: 80%;
  margin: 0px auto;
  padding: 12px 0px 15px;
  text-align: center;
  justify-content: center;
}
